.breadcrumbs {
  border-bottom: 1px solid var(--tertiary);
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.toc summary {
  margin-inline-start: 0;
  text-align: center;
}
.toc .inner {
  margin: 0 30px;
  padding: 0;
}
.post-description {
  margin-top: 15px;
  margin-bottom: 0;
}
.post-tags a {
  padding-inline-start: 9px;
  padding-inline-end: 9px;
  margin-inline-end: 3px;
  color: var(--primary);
  font-size: 15px;
  line-height: inherit;
  background: var(--theme);
}
.first-entry.home-info {
  margin: var(--gap) 0 calc(var(--gap));
}
::selection {
  color: var(--theme);
  background: var(--primary);
}
.copy-code {
  background: none;
  border-radius: unset;
}
img {
  border-radius: 5px !important;
  /* box-shadow: 0 10px 15px var(--theme) !important;
  border: 1px solid var(--border) !important; */
}
.post-entry {
  padding: calc(var(--gap) - 5px);
}
.post-meta {
  margin-top: 5px;
}
.top-link {
  background: linear-gradient(180deg, var(--tertiary) 0%, transparent 100%);
  transition: visibility 0.1s, opacity 0.3s ease-out;
  /* border-radius: 5px 5px 0 0;
  height: 49px; */
}
.paginav .next {
  padding: 6px 9px 6px 0;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  background: linear-gradient(270deg, var(--theme) 0%, transparent 100%);
}
.paginav .next:hover {
  background: linear-gradient(270deg, var(--border) 0%, transparent 100%);
}

.paginav .prev {
  padding: 6px 0 6px 9px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  background: linear-gradient(90deg, var(--theme) 0%, transparent 100%);
}
.paginav .prev:hover {
  background: linear-gradient(90deg, var(--border) 0%, transparent 100%);
}

.pagination .next {
  color: var(--content);
  border-radius: 0 18px 18px 0;
  background: linear-gradient(270deg, var(--entry) 0%, transparent 100%);
}
.pagination .next:hover {
  background: linear-gradient(270deg, var(--tertiary) 0%, transparent 100%);
}

.pagination .prev {
  color: var(--content);
  border-radius: 18px 0 0 18px;
  background: linear-gradient(90deg, var(--entry) 0%, transparent 100%);
}
.pagination .prev:hover {
  background: linear-gradient(90deg, var(--tertiary) 0%, transparent 100%);
}

#menu .active {
  border-bottom: 0;
  text-decoration: 2px line-through var(--primary);
}
.post-tags a:active,
.copy-code:active,
.pagination .next:active,
.pagination .prev:active {
  transform: scale(0.96);
}
.archive-entry-title,
#menu a,
.breadcrumbs a {
  font-weight: 500;
}
.main {
  max-width: calc(var(--main-width) + var(--gap) * 6.16);
}
/* dell hieu kieu lol gi? */
code {
  cursor: text;
}

* {
  font-family: "Noto Sans", sans-serif !important;
}
