.breadcrumbs {
  border-bottom: 1px solid var(--tertiary);
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.toc details summary {
  margin-inline-start: 0;
  text-align: center;
}
.toc .inner {
  margin: 0 30px;
  padding: 0;
}
/* .toc ul {
  list-style: decimal;
} */
.post-description {
  margin-top: 15px;
  margin-bottom: 0;
}
.logo a:after {
  margin-left: 3px;
  font-weight: normal;
  font-size: 0.456789em;
  color: var(--secondary);
}
.post-tags a {
  padding-inline-start: 9px;
  padding-inline-end: 9px;
  margin-inline-end: 3px;
  color: var(--primary);
  font-size: 15px;
  line-height: inherit;
  background: var(--theme);
}
/* .post-tags a:before {
  content: "#";
} */
.first-entry.home-info {
  margin: var(--gap) 0 calc(var(--gap));
}
/* ::-webkit-scrollbar-thumb {
  border: 0 !important;
  border-radius: 0 !important;
  background: linear-gradient(
    180deg,
    var(--primary) 0%,
    transparent 100%
  ) !important;
}
::-webkit-scrollbar {
  width: 13px !important;
} */
::selection {
  color: var(--theme);
  background: var(--primary);
}
.copy-code {
  background: none;
  border-radius: unset;
}
img {
  border-radius: var(--radius) !important;
  /* box-shadow: 0 10px 15px var(--theme) !important;
  border: 1px solid var(--border) !important; */
}
.post-entry {
  padding: calc(var(--gap) - 5px);
}
.post-meta {
  margin-top: 5px;
}
.breadcrumbs a {
  font-weight: 500;
}
.top-link {
  background: linear-gradient(180deg, var(--tertiary) 0%, transparent 100%);
  transition: visibility 0.1s, opacity 0.3s ease-out;
  /* border-radius: 5px 5px 0 0;
  height: 49px; */
}
.toc {
  background: radial-gradient(
    circle,
    transparent 0%,
    var(--code-bg) 100%
  ) !important;
}

.paginav .next {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  background: linear-gradient(270deg, var(--theme) 0%, transparent 100%);
}
.paginav .next:hover {
  background: linear-gradient(270deg, var(--border) 0%, transparent 100%);
}

.paginav .prev {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  background: linear-gradient(90deg, var(--theme) 0%, transparent 100%);
}
.paginav .prev:hover {
  background: linear-gradient(90deg, var(--border) 0%, transparent 100%);
}

.pagination .next {
  color: var(--content);
  background: linear-gradient(270deg, var(--entry) 0%, transparent 100%);
}
.pagination .next:hover {
  background: linear-gradient(270deg, var(--tertiary) 0%, transparent 100%);
}

.pagination .prev {
  color: var(--content);
  background: linear-gradient(90deg, var(--entry) 0%, transparent 100%);
}
.pagination .prev:hover {
  background: linear-gradient(90deg, var(--tertiary) 0%, transparent 100%);
}

#menu .active {
  border-bottom: 0;
  text-decoration: 2px line-through var(--primary);
}
#menu a {
  font-weight: 500;
}
.top-link:active,
.post-entry:active,
.post-tags a:active,
.copy-code:active,
.pagination .next:active,
.pagination .prev:active {
  transform: scale(0.98) !important;
}
.archive-entry-title {
  font-weight: 500;
}
/* dell hieu kieu lol gi? */
code {
  cursor: text;
}
