<script>
  const initNProgress = (parameter) => {
    NProgress.set(parameter);
    NProgress.done(true);
  };

  document.addEventListener("DOMContentLoaded", () => {
    initNProgress(0.1);

    if (document.getElementsByTagName("input").length > 0) {
      for (const item of document.getElementsByTagName("input")) {
        item.addEventListener("input", () => {
          initNProgress(0.1);
        });
      }
    } else {
      void this;
    }

    if (
      document.querySelectorAll(".copy-code, .top-link, #theme-toggle").length >
      0
    ) {
      for (const item of document.querySelectorAll(
        ".copy-code, .top-link, #theme-toggle"
      )) {
        item.addEventListener("click", () => {
          initNProgress(0.1);
        });
      }
    } else {
      void this;
    }

    const randomArray = (array) => {
      return array[Math.floor(Math.random() * array.length)];
    };

    const multilingualWaysToSayHello = [
      { Bengali: "নমস্কার!" },
      { boro: "खुलुम्बाइ!" },
      { Bulgarian: "Здравей!" },
      { Chinese: "你好!" },
      { Croat: "Zdravo!" },
      { Czech: "Ahoj!" },
      { Danish: "Hej!" },
      { Dutch: "Hallo!" },
      { English: "Hello!" },
      { Esperanto: "Saluton!" },
      { Estnisch: "Tere!" },
      { Farsi: "Salam!" },
      { Fidschi: "Bula!" },
      { Finnish: "Terve!" },
      { Flemish: "Hallo!" },
      { French: "Salut!" },
      { Greek: "Γειά!" },
      { Hawaiian: "Aloha!" },
      { Hebrew: "!שלום" },
      { Hindi: "नमस्ते!" },
      { Italian: "Ciao!" },
      { Japanese: "こんにちは!" },
      { Khmer: "Tchum-reaup Suw!" },
      { Korean: "안영하세요!" },
      { Lettish: "Čau!" },
      { Lithuanian: "Labas!" },
      { Malaiisch: "Hai!" },
      { Mongolian: "Сайн уу!" },
      { Norwegian: "Hei!" },
      { Polish: "Cześć!" },
      { Portuguese: "Olá!" },
      { Rumanian: "Salut!" },
      { Russian: "Привет!" },
      { Slovak: "Ahoj!" },
      { Spanish: "Hola!" },
      { Swedish: "Hej!" },
      { Swiss_German: "Hoi!" },
      { Tamil_Nadu: "வணக்கம்!" },
      { Thai: "สวัสดีคะ!" },
      { Turkish: "Merhaba!" },
      { Vietnamese: "Xin Chào!" },
    ];

    const titleText = () => {
      if (document.getElementsByName("titleText")[0] === undefined) {
        void this;
      } else {
        document.getElementsByName("titleText")[0].innerText = `${
          Object.values(randomArray(multilingualWaysToSayHello))[0]
        }`;
      }
    };
    titleText();

    const contentText = () => {
      if (document.getElementsByName("contentText")[0] === undefined) {
        void this;
      } else {
        document.getElementsByName(
          "contentText"
        )[0].innerText = `trông pạn như kon cặk.`;
      }
    };
    contentText();

    if (ScrollReveal().noop) {
      void this;
    } else {
      const defaultConfig = {
        desktop: true,
        mobile: false,
        delay: 0,
        duration: 300,
        easing: "ease-out",
        reset: true,
        distance: "6.16%",
        origin: "bottom",
        delay: 0,
        beforeReveal: () => {},
        afterReveal: () => {},
      };

      const createElement1 = () => {
        const spanElement = document.createElement("span");
        const textNode = document.createTextNode("v1.3a");

        spanElement.appendChild(textNode);

        Object.assign(spanElement.style, {
          color: "var(--secondary)",
          fontSize: "0.616em",
        });

        document.querySelector(".logo").appendChild(spanElement);
      };

      createElement1();

      ScrollReveal().reveal(
        document.querySelectorAll(".logo")[0].childNodes[0],
        {
          ...defaultConfig,
        }
      );

      ScrollReveal().reveal(
        document.querySelectorAll(".logo")[0].childNodes[1],
        {
          ...defaultConfig,
          delay: (defaultConfig.delay += 25),
        }
      );

      ScrollReveal().reveal(
        document.querySelectorAll(".logo")[0].childNodes[2],
        {
          ...defaultConfig,
          delay: (defaultConfig.delay += 25),
        }
      );

      for (const item of document.querySelectorAll("ul#menu")[0].childNodes) {
        ScrollReveal().reveal(item, {
          ...defaultConfig,
          delay: (defaultConfig.delay += 25),
          origin: "left",
        });
      }
    }
  });
</script>
