<script>
  const initNProgress = (parameter) => {
    NProgress.set(parameter);
    NProgress.done();
  };
  initNProgress(0.1);

  for (index of document.getElementsByTagName("input")) {
    index.addEventListener("input", () => {
      initNProgress(0.1);
    });
  }

  if (localStorage.getItem("ScrollReveal") === null) {
    localStorage.setItem("ScrollReveal", "true");
  }

  if (ScrollReveal().noop) {
    console.log("ScrollReveal is non-operational!");
  } else {
    if (localStorage.getItem("ScrollReveal") === "true") {
      ScrollReveal().reveal(
        "h1,h2,h3,h4,h5,h6,p,li,div,code,footer,article,details",
        {
          // mobile: false,
          duration: 300,
          easing: "ease-out",
          reset: true,
          distance: "6.16%",
          origin: "left",
          beforeReveal: () => {},
          afterReveal: () => {},
        }
      );
    }
  }

  document
    .querySelectorAll(`[accesskey='h']`)[0]
    .addEventListener("click", () => {
      switch (localStorage.getItem("ScrollReveal")) {
        case "true":
          localStorage.setItem("ScrollReveal", "false");
          break;
        case "false":
          localStorage.setItem("ScrollReveal", "true");
          break;
      }
    });
</script>
