<title>not found</title>

<!-- https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element -->
<style>
  body {
    background: #f8f8ff;
  }
  .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .item {
    width: 61.6%;
    height: 61.6%;
    border: 1.5px solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
</style>

<div class="container">
  <div class="item"></div>
</div>

<script defer>
  document.addEventListener("DOMContentLoaded", () => {
    giphyAPI = () => {
      fetch(
        "https://api.giphy.com/v1/gifs/random?api_key=m8M1euyJUMXrf2bKzxYDrfycu3VMrw8C&tag=fail"
      )
        .then((response) => response.json())
        .then((data) => {
          document.getElementsByClassName(
            "item"
          )[0].style.backgroundImage = `url('${data.data.images.original.url}')`;
        });
    };
    giphyAPI();

    window.onwheel = () => {
      giphyAPI();
    };

    document.getElementsByClassName("item")[0].addEventListener("click", () => {
      giphyAPI();
    });
  });
</script>
