.breadcrumbs {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--tertiary), transparent);
  border-image-slice: 1;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-transform: lowercase;
}
header.header {
  border-bottom: 1px solid var(--border);
  /* border-bottom: 1px solid;
  border-image: linear-gradient(
    to right,
    var(--secondary) 79%,
    transparent 100%
  );
  border-image-slice: 1; */
}
.archive-month:not(:last-of-type) {
  border: none;
}
.archive-year:not(:last-of-type) {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--tertiary), transparent);
  border-image-slice: 1;
}
.toc summary {
  margin-inline-start: 0;
  text-align: center;
}
.toc .inner {
  margin: 0 30px;
  padding: 0;
}
.post-description {
  margin-top: 15px;
  margin-bottom: 0;
}
.home-info {
  text-align: center;
  /* margin: var(--gap) 0 calc(var(--gap)); */
}
::selection {
  color: var(--theme);
  background: var(--primary);
}
.copy-code {
  background: none;
  border-radius: unset;
}
img {
  border-radius: 5px !important;
  /* box-shadow: 0 10px 15px var(--theme) !important;
  border: 1px solid var(--border) !important; */
}
.terms-tags a {
  border: none !important;
  background: none !important;
  padding: 0;
  border-radius: 0;
}
.post-tags a {
  background: none !important;
  border-radius: 0;
  border: none;
  padding-inline-start: 0;
  padding-inline-end: 5px;
}
.post-tags a:before {
  content: "#";
}

.post-meta {
  margin-top: 5px;
}
.top-link {
  background: linear-gradient(var(--tertiary), transparent);
  transition: visibility 0.1s, opacity 0.3s ease-out;
  /* border-radius: 5px 5px 0 0;
  height: 49px; */
}
.paginav .next {
  padding: 6px 9px 6px 0;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  background: linear-gradient(to left, var(--theme), transparent);
}
.paginav .next:hover {
  background: linear-gradient(to left, var(--border), transparent);
}

.paginav .prev {
  padding: 6px 0 6px 9px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  background: linear-gradient(to right, var(--theme), transparent);
}
.paginav .prev:hover {
  background: linear-gradient(to right, var(--border), transparent);
}

.post-tags a:active,
.copy-code:active,
.pagination .next:active,
.pagination .prev:active {
  transform: scale(0.96);
}
.archive-entry-title,
#menu a,
.breadcrumbs a {
  font-weight: 500;
}
.main {
  max-width: calc(var(--main-width) + var(--gap) * 4.56);
}
.post-content pre code {
  color: #e9e9f4 !important;
  /* background: #282936 !important; */
  background: #22272e !important;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .terms-tags a,
  .post-tags a {
    padding-inline-end: calc(6.16px * 1.5);
  }
}

* {
  font-family: "Noto Sans", sans-serif !important;
}
.chroma span {
  font-family: "Noto Sans Mono", monospace !important;
}

/* dell hieu kieu lol gi? */
code {
  cursor: text;
}

/* reColour */

:root {
  --color_1: whitesmoke;
  --color_2a: white;
  --color_2b: black;
  --color_3: whitesmoke;
  --color_4: blue;
  --color_5: crimson;
  --color_6: crimson;
}
.dark {
  --color_1: #121212;
  --color_2a: black;
  --color_2b: white;
  --color_3: #1f1b24;
  --color_4: cyan;
  --color_5: lime;
  --color_6: yellow;
}

header.header {
  background-color: var(--color_1);
}
.footer {
  max-width: none;
  background-color: var(--color_1);
  border-top: 1px solid var(--border);
  font-weight: 500;
}
.post-entry {
  padding: calc(var(--gap) - 5px);
  border: none;
  background: linear-gradient(to right, var(--color_1), transparent);
}
.pagination .next {
  color: var(--content);
  background: linear-gradient(to left, var(--color_1), transparent) !important;
}
.pagination .prev {
  color: var(--content);
  background: linear-gradient(to right, var(--color_1), transparent) !important;
}

body,
.list {
  background-color: var(--color_2a) !important;
}

.toc {
  background-color: var(--color_3) !important;
}
.post-content code {
  color: var(--color_2b);
  background-color: var(--color_3);
  font-weight: bold;
}

/* .terms-tags strong sup, */
.archive-year .archive-year-header sup {
  color: var(--color_4);
}
a:hover {
  color: var(--color_4) !important;
}
.logo a {
  color: var(--primary) !important;
}

#menu .active {
  color: var(--color_5) !important;
}
