.breadcrumbs {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--tertiary), transparent);
  border-image-slice: 1;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
header.header {
  border-bottom: 1px solid;
  border-image: linear-gradient(
    to right,
    var(--secondary) 79%,
    transparent 100%
  );
  border-image-slice: 1;
}
.archive-month:not(:last-of-type) {
  border: none;
}
.archive-year:not(:last-of-type) {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--tertiary), transparent);
  border-image-slice: 1;
}
.toc summary {
  margin-inline-start: 0;
  text-align: center;
}
.toc .inner {
  margin: 0 30px;
  padding: 0;
}
.post-description {
  margin-top: 15px;
  margin-bottom: 0;
}
.first-entry.home-info {
  margin: var(--gap) 0 calc(var(--gap));
}
::selection {
  color: var(--theme);
  background: var(--primary);
}
.copy-code {
  background: none;
  border-radius: unset;
}
img {
  border-radius: 5px !important;
  /* box-shadow: 0 10px 15px var(--theme) !important;
  border: 1px solid var(--border) !important; */
}
.post-entry {
  padding: calc(var(--gap) - 5px);
  border: none;
  background: linear-gradient(to right, var(--entry), transparent);
}
.terms-tags a {
  border: none !important;
  background: linear-gradient(
    to right,
    var(--tertiary),
    transparent
  ) !important;
  padding: 1px;
  padding-inline-start: 6px;
  padding-inline-end: calc(3px * 6.16);
  border-radius: 2px;
  line-height: normal;
}
.post-tags a {
  background: none !important;
  border-radius: 0;
  border: none;
  padding-inline-start: 0;
  padding-inline-end: 5px;
}
.post-tags a:before {
  content: "#";
}

.post-meta {
  margin-top: 5px;
}
.top-link {
  background: linear-gradient(var(--tertiary), transparent);
  transition: visibility 0.1s, opacity 0.3s ease-out;
  /* border-radius: 5px 5px 0 0;
  height: 49px; */
}
.paginav .next {
  padding: 6px 9px 6px 0;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  background: linear-gradient(to left, var(--theme), transparent);
}
.paginav .next:hover {
  background: linear-gradient(to left, var(--border), transparent);
}

.paginav .prev {
  padding: 6px 0 6px 9px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  background: linear-gradient(to right, var(--theme), transparent);
}
.paginav .prev:hover {
  background: linear-gradient(to right, var(--border), transparent);
}

.pagination .next {
  color: var(--content);
  background: linear-gradient(to left, var(--entry), transparent);
}
.pagination .next:hover {
  background: linear-gradient(to left, var(--tertiary), transparent);
}

.pagination .prev {
  color: var(--content);
  background: linear-gradient(to right, var(--entry), transparent);
}
.pagination .prev:hover {
  background: linear-gradient(to right, var(--tertiary), transparent);
}

#menu .active {
  border-bottom: 0;
  text-decoration: 2px line-through var(--primary);
}
.post-tags a:active,
.copy-code:active,
.pagination .next:active,
.pagination .prev:active {
  transform: scale(0.96);
}
.archive-entry-title,
#menu a,
.breadcrumbs a {
  font-weight: 500;
}
.main {
  max-width: calc(var(--main-width) + var(--gap) * 6.16);
}
.post-content pre code {
  color: #e9e9f4 !important;
  /* background: #282936 !important; */
  background: #22272e !important;
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  .terms-tags a,
  .post-tags a {
    padding-inline-end: calc(6.16px * 1.5);
  }
}

* {
  font-family: "Noto Sans", sans-serif !important;
}
.chroma span {
  font-family: "Noto Sans Mono", monospace !important;
}

/* dell hieu kieu lol gi? */
code {
  cursor: text;
}

/* restyle */

:root {
  --header: white;
  --body: #f5f5f5;
  --toc: white;
  --code: navy;
  --textCode: antiquewhite;
}
.dark {
  --header: black;
  --body: #1d1e20;
  --toc: #2e2e33;
  --code: antiquewhite;
  --textCode: navy;
}
header.header {
  background-color: var(--header);
  /* background: linear-gradient(to right, var(--header) 79%, transparent 100%); */
}
body {
  background-color: var(--body);
}
.toc {
  background-color: var(--toc);
}
.post-content code {
  background-color: var(--code);
  color: var(--textCode);
  font-weight: bold;
}
