<script defer>
  document.addEventListener("DOMContentLoaded", () => {
    const randomArray = (array) => {
      return array[Math.floor(Math.random() * array.length)];
    };

    // CSS
    if (document.getElementsByClassName("breadcrumbs").length > 0) {
      [...document.querySelectorAll(".breadcrumbs a")].at(
        -1
      ).style.cssText = `color: var(--color_5) !important;`;
    }

    if (document.querySelectorAll(".terms-tags strong sup").length > 0) {
      var termsTagsList = [];
      for (const item of document.querySelectorAll(".terms-tags strong sup")) {
        termsTagsList.push(item.childNodes[0].data);
      }

      for (const item of document.querySelectorAll(".terms-tags strong sup")) {
        if (
          item.childNodes[0].data == Math.max(...[...new Set(termsTagsList)])
        ) {
          item.style.cssText = `color:var(--color_4)`;
        }
      }
    }

    // random Hello text
    const spanElement = document.createElement("span");
    spanElement.style.cssText = `color: var(--secondary);
                                 font-size: 0.616em;`;
    const textNode = document.createTextNode(`${randomArray(hello).hello}`);
    spanElement.appendChild(textNode);
    document.querySelector(".logo").appendChild(spanElement);

    const randomQuoteText = () => {
      if (
        document.getElementsByName("quoteAuthor")[0] !== undefined &&
        document.getElementsByName("quoteContent")[0] !== undefined
      ) {
        const randomQuoteData = randomArray(quotes);
        document.getElementsByName("quoteAuthor")[0].textContent =
          randomQuoteData.author;
        document.getElementsByName("quoteContent")[0].textContent =
          randomQuoteData.content;
      }
    };
    randomQuoteText();

    if (document.getElementById("quoteButton") !== null) {
      document.getElementById("quoteButton").addEventListener("click", () => {
        randomQuoteText();
      });
    }

    // day.js
    if (
      document.querySelectorAll(
        ".post-single .post-meta, .post-entry .entry-footer, .archive-entry .archive-meta"
      ).length > 0
    ) {
      dayjs.extend(dayjs_plugin_relativeTime);
      dayjs.extend(dayjs_plugin_customParseFormat);

      for (const item of document.querySelectorAll(
        ".post-single .post-meta, .post-entry .entry-footer, .archive-entry .archive-meta"
      )) {
        item.childNodes[0].textContent = dayjs(
          item.childNodes[0].attributes.title.nodeValue,
          "YYYY-MM-DD"
        ).fromNow();
      }
    }

    // hr tag
    // https://stackoverflow.com/a/59360710
    if (
      document.querySelectorAll(
        ".breadcrumbs, .archive-year:not(:last-of-type)"
      ).length > 0
    ) {
      for (const item of document.querySelectorAll(
        ".breadcrumbs, .archive-year:not(:last-of-type)"
      )) {
        item.after(document.createElement("hr"));
      }
    }
  });
</script>
